body{
    background: rgb(0,0,0);
background: linear-gradient(135deg, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(80,16,119,1) 100%);
    height: 100vh;
    width: 100%;
    opacity: 1;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
}
.name{
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    text-align: center;
    font-size: 60PX;
}
.container-abt{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}
.left{
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    font-size: 30px;
    margin-left: 5%;
    text-align: left;
    margin-top: 1%;
}
.right{
   

    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 

    >img{
    width: 500px;
    height: auto;
}

}
.heading{
    color: white;
    font-size: 40px;
}
.node6{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}