.nav-item{
    text-decoration: none;
    color: rgb(139, 138, 138);
    font-size: large;
    display: inline-block;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    margin: 0;
    padding: 0;
}
.nav-item:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(139, 138, 138);

}

#nav-items {
    margin-top: auto; /* Pushes the element to the bottom of the container */
    position: fixed;
    left: 0;
    bottom: 0; /* Adjusted to 0 to align with the bottom of the page */
    width: 100%;
    padding: 1%;
    z-index: 2;
    font-size: 110%;
  }


.navbar-collapse{
  z-index: 20;
  opacity: 1;
}
  @media screen and (min-width:0px) and (max-width:1100px){
    #nav-items{
        font-size: 2.5vh;
    }
    #nav-tops{
        font-size: 2.5vh;
    }
  }