/* projects.css, Muhammad vohra, 301257640, 2023/09/29 */

body{
    background: rgb(0,0,0);
background: linear-gradient(135deg, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(80,16,119,1) 100%);
    height: 100vh;
    width: 100%;
    opacity: 1;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
}
.name{
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    text-align: center;
    font-size: 300%;
}
.container-abt{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 2%;
}
.left{
    color: white;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 
    font-size: 110%;
    margin-left: 5%;
    text-align: left;
    flex:1;
}
#right1,#right2,#right3{
   
    flex: 1;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif; 

    >img{
    width: 70%;
    height: auto;
   
}

}
.heading{
    color: white;
    font-size: 40px;
}
.res-btn{
    position: relative;
    padding: 1% 5%;
  

    >a{
        text-decoration: none;
        color: black;
    }
}
.res-div{
    justify-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;

    >button{
        border: solid 1px rgb(42, 230, 25);
        border-radius: 5px;
        background-color: rgb(42, 230, 25);
        >a{
            color: white;
        font-weight: 500;
        }
    }
}
.res-div>button:hover{
    background-color: rgb(18, 64, 1);
    border: solid 1px rgb(18, 64, 1);
}

.background {
    position: relative;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 

} 
#videoOne,#videoTwo,#videoThree{
    display: none;
}

