<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/title.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Homepage</title>
</head>
<%- include ('partials/header_nav.ejs') %>
<body>

      <div class="intro">
        <p class="intro-head" > WELCOME</p>
        <p class="MissonMsg">
            My mission is to leverage my skills, creativity, and dedication to make a meaningful contribution to Software Development. 
          I aim to continuously learn, innovate, and collaborate with like-minded professionals to solve complex challenges and create solutions that positively impact individuals and communities.
           More <b><a href="about" style="color:white">about me?</a></b>
          </p>
          <div class="res-div"> <button class="res-btn"><a href="/about">Here</a></button></div>
        </div>
      </div>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
          <div class="carousel-item active"  data-ride="carousel" data-interval="1000">
            <video loop muted autoplay src="/img/rain3.mp4" style="width: 100%; max-height: 100%; object-fit: cover;"></video>
        </div>
        <div class="carousel-item" >
            <video loop muted autoplay src="/img/rain.mp4" style="width: 100%; max-height: 100%; object-fit: cover;"></video>
        </div>
      </div>


    <%- include ('partials/footer_nav.ejs') %>
</body>

</html>