<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/title.ejs') %>
    <link rel="stylesheet" type="text/css" href="css/projects.css">
    <title>Project</title>
</head>
<body>

    <%- include ('partials/header_nav.ejs') %>
    <h1 class="name">My Projects</h1>
    <br><br>
    <div class="container-abt">
      <div id="right1">
        <img src="/img/thumb1.png" id="thumb1" style="width: 450px; max-height: 450px; object-fit: cover;">
        <video id="videoOne" class="vid video1" muted src="/img/project1.mp4" style="width: 450px; max-height: 450px; object-fit: cover;"  preload="none"></video>
      </div>
      <div class="left"> In this project, I utilized JavaScript, jQuery, HTML, and CSS to craft an automated slideshow. 
        The slideshow offers seamless zoom-in and zoom-out functionality facilitated by JavaScript timeout functions. 
        Transitions between slides are smooth and uniform, enhancing the overall user experience. 
        The slideshow is set to progress automatically every 3 seconds. 
        It dynamically fetches image source (src) and alternate text (alt) tags from text files, allowing for a flexible and extensible approach to creating image slides.
       <div class="res-div"> <button class="res-btn"><a target="_blank" href="http://studentweb.cencol.ca/mvohra10/Assignment4/index.html">Preview</a></button></div>
      </div>
      
</div>
<br><br><br>
<div class="container-abt">
    <div id="right2">
      <img src="/img/thumb2.png" id="thumb2" style="width: 450px; max-height: 450px; object-fit: cover;">
      <video id="videoTwo" class="vid video2" loop muted  src="/img/project2.mp4" style="width: 450px; max-height: 450px; object-fit: cover;"  preload="none"></video>
    </div>
    <div class="left"> In this project, I utilized JavaScript, jQuery, HTML, and CSS to craft an automated slideshow. 
        In this project, I utilized JavaScript, HTML, and CSS to develop an engaging 'Hit-a-Bug' game. The core of the game revolves around a bug class, which includes attributes such as level and speed. To create the dynamic experience, I implemented a random number generator to spawn bugs at various locations on the screen.

        To control the pace of the game, I incorporated a set time-out loop that governs the bug's speed. As players successfully click on the bugs, their score accumulates. What's intriguing is that the player's score affects the bug's speed. As the game progresses, the bugs become faster, providing an ever-increasing challenge.
        
        Additionally, I integrated a feature where players have the option to either continue playing or restart the game, ensuring an engaging and user-friendly gaming experience.
      <br>
     <div class="res-div"> <button class="res-btn"><a target="_blank" href="http://studentweb.cencol.ca/mvohra10/Vohra.301257640.Assignment3/game.html">Preview</a></button></div>
    </div>
    
</div>
<br><br><br>
<div class="container-abt">
    <div id="right3">
      <img src="/img/thumb3.png" id="thumb3" style="width: 450px; max-height: 450px; object-fit: cover;">
      <video id="videoThree" class="vid video3" loop muted src="/img/project3.mp4" style="width: 450px; max-height: 450px; object-fit: cover;"  preload="none"></video>
    </div>
    <div class="left"> In this project, I started my journey to explore React and the art of crafting polished websites like Turo, paying meticulous attention to every detail. The challenge lay in comprehending how React dynamically renders web pages and the array of functionalities it offers. To achieve this, I undertook the task of recreating Turo's homepage, gaining valuable experience in utilizing React libraries for features such as slideshows, date handling, and more. This allowed me to dive deeper into the world of web development and elevate my skills in creating sophisticated user interfaces.
      <br>
     <div class="res-div"> <button class="res-btn"><a target="_blank" href="https://github.com/muhammadVohra787/Turo">Github</a></button></div>
    </div>
    
</div>
    <%- include ('partials/footer_nav.ejs') %>
    <script>
  var videos = document.getElementsByClassName('vid');
  var thumb1=document.getElementById('thumb1');
  var div1 = document.getElementById('right1');
  var thumb2=document.getElementById('thumb2');
  var div2 = document.getElementById('right2');
  var thumb3=document.getElementById('thumb3');
  var div3 = document.getElementById('right3');

div1.addEventListener("mouseover", function () {
  videos[0].play();
  thumb1.style.display="none";
  document.getElementById('videoOne').style.display="inline-block";

});

div1.addEventListener("mouseout", function () {
  videos[0].pause();
  thumb1.style.display="inline-block";
  document.getElementById('videoOne').style.display="none";
});

div2.addEventListener("mouseover", function () {
  videos[1].play();
  thumb2.style.display="none";
  document.getElementById('videoTwo').style.display="inline-block";
});

div2.addEventListener("mouseout", function () {
  videos[1].pause();
  thumb2.style.display="inline-block";
  document.getElementById('videoTwo').style.display="none";
});

div3.addEventListener("mouseover", function () {
  videos[2].play();
  thumb3.style.display="none";
  document.getElementById('videoThree').style.display="inline-block";
});

div3.addEventListener("mouseout", function () {
  videos[2].pause();
  thumb3.style.display="inline-block";
  document.getElementById('videoThree').style.display="none";
});
    </script>
</body>
</html>